// $whiteColor: #FFFFFF;
// // var(--button-color): #FE5F1E;
// // var(--hover-button-color): #fa4b05;
// $backgroundColor: #f09b7a;
// $menuItem: #ececec;
// $menuItemHover: #dbdada;
// $menuItemActive: #282828;
// var(--sort-menu-item): rgba(254, 95, 30, 0.05);
// var(--pizza-block): #F3F3F3;
// var(--container-border): #f7f7f7;
// $colorTextDark: #181818;
$colorTextGrey: #7B7B7B;
$borderRadius: 30px;
//////////////////////////////////
$transition: 0.3s all;
/////////////////////////////////
$menuButtonHeight: 46px;




@mixin flex($flex-direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin font($font-style, $font-weight, $font-size, $line-height, $letter-spacing, $text-transform) {
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;

}