@import '../../assets/commonStyle/commonStyle';
@import '../../App.scss';

.container {
    margin: 0 auto;
    padding: 121px 50px 137px 67px;
    max-width: 1400px;
    background-color: var(--main-color);

}

.menuContainer {
    @include flex(row, space-between, center);
    margin-bottom: 32px;
}

.section {
    padding: 250px 0;
    @include flex(column, center, center);

    &>div:first-child {
        font-size: xx-large;
    }
}