@import '../../assets/commonStyle/commonStyle';


.container {
    margin: 0 auto;
    padding: 40px 50px 96px 67px;
    max-width: 1400px;
    background-color: $whiteColor;
}

.menuContainer {
    @include flex(row, space-between, center);
    margin-bottom: 32px;
}
