@import "../../../assets/commonStyle/commonStyle.scss";
@import "../../../App.scss";

.basketListItem {
  @include flex(row, space-between, center);
  padding: 30px 0;
  border-bottom: 2px solid var(--container-border);
}

.imgAndTitleBlock {
  @include flex(row, start, center);
  width: 300px;

  img {
    width: 80px;
    height: 80px;
  }

  .pizzaTitleDescription {
    margin-left: 15px;
    @media (max-width: 600px) {
      margin-left: 0;
    }
  }

  @media (max-width: 600px) {
    @include flex(column, center, center);
    text-align: center;
    max-width: 160px;
  }
}

.deletePizza {
  width: 32px;
  height: 32px;
  @include flex(row, center, center);
  border-radius: 50%;
  border: 2px solid rgb(161, 161, 161);
  color: rgb(161, 161, 161);
  transform: rotate(45deg);

  &:hover {
    cursor: pointer;
    background-color: black;
    color: var(--main-color);
    border-color: black;
    transform: rotate(225deg);
  }
}

.chooseQuantity {
  @include flex(row, center, center);
  column-gap: 7px;

  div:nth-child(2n + 1) {
    color: var(--button-color);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid var(--button-color);
    @include flex(row, center, center);

    &:hover {
      cursor: pointer;
      background-color: var(--hover-button-color);
      color: var(--main-color);
      transform: rotate(360deg);

    }
    
  }

  @media (max-width: 450px) {
    flex-direction: column;
    row-gap: 5px;
  }
}
