@import '../../../assets/commonStyle/commonStyle.scss';

.basketListItem {
    @include flex(row, space-between, center);
    padding: 30px 0;
    border-bottom: 2px solid $borderContainer;
}

.imgAndTitleBlock {
    @include flex(row, start, center);
    width: 300px;

    img {
        width: 80px;
        height: 80px;

    }

    .pizzaTitleDescription {
        margin-left: 15px;
        @media (max-width: 600px) {
            margin-left: 0;
        }
    }

    @media (max-width: 600px) {
        @include flex(column, center, center);
        text-align: center;
        max-width: 160px;
    }
}

.deletePizza {
    width: 32px;
    height: 32px;
    @include flex(row, center, center);
    border-radius: 50%;
    border: 2px solid rgb(161, 161, 161);
    color: rgb(161, 161, 161);
    transform: rotate(45deg);

    &:hover {
        cursor: pointer;
        background-color: black;
        color: $whiteColor;
        border-color: black
    }


}


.chooseQuantity {
    @include flex(row, center, center);
    column-gap: 7px;

    div:nth-child(2n + 1) {
        color: $buttonColor;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid $buttonColor;
        @include flex(row, center, center);

        &:hover {
            cursor: pointer;
            background-color: $activeButtonColor;
            color: $whiteColor;
        }
    }

    @media (max-width: 450px) {
        flex-direction: column;
        row-gap: 5px;
    }

}