@import '../../../assets/commonStyle/commonStyle.scss';

.basketListItem {
    @include flex(row, space-between, center);
    padding: 30px 0;

    &:not(:last-child) {
        border-bottom: 2px solid $borderContainer;
    }

}

.imgAndTitleBlock {
    @include flex(row, center, center);

    img {
        width: 80px;
        height: 80px;
    }

    .pizzaTitleDescription {
        margin-left: 15px;
    }
}

.deletePizza {
    width: 32px;
    height: 32px;
    @include flex(row, center, center);
    border-radius: 50%;
    border: 2px solid rgb(161, 161, 161);
    color: rgb(161, 161, 161);
    transform: rotate(45deg);

    &:hover {
        cursor: pointer;
        background-color: black;
        color: $whiteColor;
        border-color: black
    }


}


.chooseQuantity {
    @include flex(row, center, center);
    column-gap: 12px;

    div:nth-child(2n + 1) {
        color: $buttonColor;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid $buttonColor;
        @include flex(row, center, center);
        &:hover {
            cursor: pointer;
            background-color: $activeButtonColor;
            color: $whiteColor;
        }
    }


}