@import '../../assets/commonStyle/commonStyle.scss';
@import '../../App.scss';


.container {
    margin: 0 auto;
    padding: 53px 38px 36px 67px;
    
    max-width: 1400px;


    background-color: var(--main-color);
    @include flex(row, space-between, center);
    border-bottom: 2px solid var(--container-border);

    @media (max-width: 840px) {
        @include flex(column, space-between, center);
        row-gap: 20px;
        padding: 20px;
    }
}

.basket {
    width: 150px;
    height: 50px;
    background: var(--button-color);
    border-radius: $borderRadius;
    color: var(--main-color);
    @include flex(row, center, center);

    div:not(:nth-child(3)) {
        margin-right: 13px;
    }

    &:hover {
        background: var(--hover-button-color);
        cursor: pointer;
    }

    .verticalLine {
        width: 1px;
        height: 25px;
        background: rgba(255, 255, 255, 0.25)
    }
}

.logoAndTitle {
    @include flex(row, center, center);
    max-width: 316px;

    .logo {
        width: 36px;
        height: 36px;
        margin-right: 17px;

    }
}

.basketImgBlock {
    @include flex(row, center, center);

    img {
        margin-right: 9px;
    }
}

.link {
    text-decoration: none;
}

.pizzaTitle {
    color: var(--menu-item-active);
    @include font(normal, 800, 24px, 29px, 0.01em, uppercase);

    &+p {
        color: $colorTextGrey;
        @include font(normal, 400, 16px, 19px, 0, uppercase);
    }
}

.themeBlock {
    overflow: hidden;
    width: 35px;
    height: 35px;
    @include flex(column, flex-start, center);
    gap: 15px;
}

.sunNotActive {
    transform: translateY(35px);
    width: 35px;
    height: 35px;
    transition: 0.2s ease all;
    & + img {
        transition: 0.5s ease all;
        transform: translateY(-50px);
    }
}

.sun, .moon {
    width: 35px;
    height: 35px;
}