@import '../../../assets/commonStyle/commonStyle.scss';
@import '../../../App.scss';

.menuList {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    list-style-type: none;
    column-gap: 9px;

    @media (max-width: 772px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
    }

    li {
        background-color: var(--menu-item);
        height: $menuButtonHeight;
        @include flex(row, center, center);
        border-radius: $borderRadius;
        padding: 0 15px;

        cursor: pointer;

        &:hover {
            background-color: var(--menu-item);
        }

        @media (max-width: 385px) {
            font-size: small;
            font-weight: 600;
        }
    }

    .menuListItemActive {
        background-color: var(--menu-item-active);
        color: var(--menu-item-active-text);
        cursor: auto;

        &:hover {
            background-color: var(--menu-item-active);
        }
    }
}