@import './assets/commonStyle/commonStyle.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: $transition;
}

.app {
    min-height: 100vh;
    background-color: $backgroundColor;
}

.spinner__container {
    margin: 0 auto;
    padding: 300px;
    max-width: 1400px;
    background-color: $whiteColor;
    text-align: center;
}



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap')