@import '../../../assets/commonStyle/commonStyle.scss';

.sortReverse {
    transform: rotate(180deg);
}

.sortMenu {
    @include flex(row, center, center);
    position: relative;

    &>*:not(:nth-child(3)) {
        margin-right: 7px
    }

    .activItemSort {
        color: $buttonColor;
        border-bottom: 1px dashed $buttonColor;
        cursor: pointer;
    }
}

.sortImgContainer {
    @include flex(row, center, center);
}

.sortMenuListActive {
    position: absolute;
    @include flex(column, flex-start, flex-start);

    border-radius: 10px;
    width: 132px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    top: 25px;
    left: 61px;
    z-index: 10;
    background-color: $whiteColor;

    div {
        cursor: pointer;
        @include flex(row, center, center);
        width: 100%;
        height: 38px;
    }

    .sortMenuListItemActive {
        background-color: $sortMenuListItemActive;
        color: $buttonColor;
        cursor: auto;
        

    }
}

.sortMenuListNotActive {
    display: none;
}